@import "@styles/colors";
@import "~bootstrap";

.header-slogan {
  &__title {
    // font-size: 5rem;
    &-turquoise {
      color: $turquoise;
    }
  }

  &__subtitle {
    color: $gray-600;
    font-size: 1rem;
    text-align: center;
  }
}
